.mt-5, .my-5 {
	margin-top:58px!important
}
.carousel-caption{
	background-color: #00000040;
}

.scrol{
	padding-top: 50px; 
	margin-top: -50px;
}

li.nav-item  {
	margin-right: 100px;
}